spring.application.name=Fiscalapi-samples-spring

# Server configuration
server.port=8080

# Swagger configuration
springdoc.api-docs.path=/api-docs
springdoc.swagger-ui.path=/swagger-ui.html
springdoc.swagger-ui.operationsSorter=method


# https://docs.fiscalapi.com/credentials-info
# FiscalAPI configuration
fiscalapi.url=https://test.fiscalapi.com
fiscalapi.key=<apikey>
fiscalapi.tenant=<tenant>
fiscalapi.debug=false